body {

  height: 1000px;
  margin: 0;
}

.home-link {
  background-color: gray;
  position: fixed;

  top: 0;
  right: 0;
  left: 0;

  padding: 20px;

  z-index: 100;
}

.hero {

  background-color: lightcoral;
  display: flex;
  flex-direction: column;

  margin-top: 58px;

  height: 89vh;
}

.notaria {
  margin: 15px 20px;
}

.menu-container {
  display: flex;
  position: absolute;

  background-color: lightblue;
  height: 18px;
  width: 100vw;

  justify-content: center;
  bottom: 20px;
}

.menu-button {
  background-color: lightcyan;
}

.menu-lateral {
  background-color: lightblue;
  display: flex;
  align-items: center;
}

.boton-lateral {
  background-color: black;
  transform: rotate(270deg);
}

@media (min-width: 680px) {

  .hero {

    background-color: lightcoral;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 58px;
  
    height: 89vh;
  }

  .menu-container {
    display: none;
  }

}